@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.highlight {
  color: #d51007;
  /* Change to your desired highlight color */
  font-weight: bold;
  /* Make it bold */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  /* Optional: add a glow effect */
}